html,
body,
header,
#intro {
    height: 100%;
}


#intro {
    background: url(../img/img2.jpg) no-repeat center center fixed;
    background-size: cover;

}



.top-nav-collapse {
    background-color: #140a08;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #140a08;
    }
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}


.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgb(0, 132, 255), rgba(54, 255, 222, 0.6) 100%);
    background: -webkit-linear-gradient(45deg, rgba(86, 187, 255, 0.788), rgba(61, 255, 239, 0.801) 100%);
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

@media (max-width: 740px) {

    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}

.mt-8 {
    margin-top: 8%;
}

.map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-section iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}